section > h1{
    text-align: center;

}

main{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

#inp, #out{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    
    display: flex;
    align-items:center;
    justify-content:center;

    width:80%;
    padding: 4px 8px;
    min-width: 300px;
    /* min-width:500px; */
    border:2px solid #000;
    border-radius:20px;
    min-height:50px;
    word-wrap: break-word;
    height:fit-content;

    color:#000;
    text-decoration: none;
}